:root{
    --font-size: 40px;
    --font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --cargo-theme-color: rgb(108, 255, 250);
    --cargo-brown-color: rgba(150, 84, 3, 0.885);
    --cargo-green-color: rgba(11, 135, 2,0.8);
}
body{
    background-color: var(--cargo-theme-color);
    font-family: var(--font-family);
}
.container {
  width: 100%;
  height: 30vh;

  display: flex;
  justify-content: left; /* horizontal */
  align-items: left;     /* vertical */
}

.start-container {
  position: absolute;
  box-shadow: 10px 10px 0 rgba(150, 84, 3,.8);
  background-color: rgba(173, 254, 252, 0.88);

  display: flex;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */

  width: fit-content;
  height: fit-content;
  padding: 12px 20px;

  border: 3px solid black;
  border-radius: 10px;
}

.start-title {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.start-title span {
  font-size: 50px;
  color: rgb(11, 135, 2);
  text-shadow: 2px 2px 0 rgb(0, 0, 0);
  padding: 0 1px;
  display: inline-block;

  transition:
    transform 0.25s cubic-bezier(0.22, 1, 0.36, 1),
    text-shadow 0.25s cubic-bezier(0.22, 1, 0.36, 1);
}

.start-title span:hover {
  transform: translateY(-6px);
  text-shadow: 6px 8px 0 rgba(0, 0, 0, 0.7);
}
